<header>
	<nav class='header'>
		<div class='nav-wrapper'>
			{{#link-to 'home' class='brand-logo'}}
				DANIEL HWANG
			{{/link-to}}
			<ul class='nav-list'>
				<li>{{#link-to 'home'}}Home{{/link-to}}</li>
				<li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
			</ul>
		</div>
	</nav>
</header>

