.resume-cont {
  background-color: #1E2025;
  padding-top: 3rem;
  height: 1400px;
}

.resume {
  margin: 0 auto;
  height: 1250px;
  width: 1000px;

  #header {
    height: 200px;
    background-color: #2C3E50;
    color: white;
    font-family: Lato;
  }

  i {
    width: 1.3rem;
  }

  .name {
    width: 65%;
    height: 100%;
    float: left;
    font-size: 4rem;
    padding: 3.5rem
  }

  .info {
    height: 100%;
    width: 35%;
    display: inline-block;
    padding: 3.5rem 0rem 0 4rem;
    font-weight: 300;
  }

  .info ul {
    list-style-type: none;
  }

  .info ul li a {
    color: white;
  }

  #resume-left {
    background-color: #ECF0F1;
    border-right: 1px solid #34495E;
    height: 1075px;
    width: 67%;
    float: left;
  }
    
  #resume-right {
    background-color: #ECF0F1;
    display: inline-block;
    height: 1075px;
    width: 33%;
  }

  .title {
    color: #34495E;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 300;
    font-family: Lato;
    padding: 1rem 0;
  }

  .work-exp-item {
    width: 90%;
    margin: 0 auto;
  }

  .work-title {
    width: 70%;
    float: left;
  }

  .work-title h5 {
    margin: 0;
    font-family: Lato;
    font-weight: 600;
    color: #34495E;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .work-date {
    font-size: 0.9rem;
    text-align: right;
    width: 30%;
    color: #34495E;
    font-weight: 700;
    font-family: Lato;
    line-height: 2.8rem;
    display: inline-block;
  }

  ul.work-desc li {
    font-family: Lato;
    font-weight: 300;
    color: #34495E;
  }

  .fa-li.fa-angle-right {
    line-height: 1.4rem;
  }

  .subtitle {
    font-family: Lato;
    color: #34495E;
    font-weight: 600;
    margin: 0;
    padding-left: 2.3rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .tech-skills {
    height: 20rem;
    border-bottom: 1px solid #34495E;
  }

  .tech-skills ul {
    height: 4rem;
    padding-left: 2rem;
  }

  .tech-skills ul li {
    font-family: Lato;
    color: #34495E;
    font-weight: 300;
    width: 50%;
    float: left;
  }

  .inter-skills {
    padding-bottom: 2rem;
    border-bottom: 1px solid #34495E;
  }

  .inter-skills ul {
    margin: 0; 
    padding: 0 1rem 0 2.5rem;
    line-height: 1.4rem;
  }

  .inter-skills ul li {
    font-family: Lato;
    color: #34495E;
    font-weight: 300; 
  }

  .awards {
    border-bottom: 1px solid #34495E;
    padding-bottom: 1.6rem;
  }

  .award-subtitle h5 {
    color: #34495e;
    line-height: 1.5rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-family: Lato;
    font-size: 1rem;
  }

  .awards a {
    padding-left: 4rem;
  }

  .awardsa.title {
    padding: 0.5rem 0;
  }

  .award-desc {
    padding: 0.3rem 2rem 0 2rem;
    text-align: justify;
    font-family: Lato;
    color: #34495E;
    font-weight: 300;
  }

  .projectsa {
    padding-top: 0;
  }

  .project-item {
    width: 33%;
    float: left;
    padding: 0 1.5rem;
    text-align: center
  }

  .project-title {
    color: #34495E;
    font-family: Lato;
    font-weight: 600;
    border-bottom: 1px solid #34495E;
  }

  .project-desc {
    padding: 0.3rem;
    text-align: left;
    color: #34495E;
    font-family: Lato;
    font-weight: 300;
  }

  .education-title {
    text-align: center;
    padding: 0 1rem;
    color: #34495E;
    font-family: Lato;
  }

  .education-degree {
    text-align: center;
    color: #34495E;
    font-family: Lato;
    padding: 0.8rem 1rem;
    font-weight: 300;
  }
}