<div class='resume'>
  <div class='row'>
    <div class='columns small-12 large-11 small-centered resume-container'>

      {{!-- HEADER --}}
      <div class='row header'>
        <div class='columns small-8'>
          <h1><span style='font-weight:100'>DANIEL</span> <b>HWANG</b></h1>
        </div>
        <div class='columns small-4'>
          <ul class='personal-info-list'>
            <li><i class='fa fa-phone'></i> 647 985 0246</li>
            <li><i class='fa fa-envelope-o'></i> daniel.hwang11@gmail.com</li>
            <li><i class='fa fa-github'></i> github.com/dbshwang</li>
            <li><i class='fa fa-link'></i> dbshwang.github.io</li>
          </ul>
        </div>
      </div>

      {{!-- RESUME CONTENT --}}
      <div class='row'>
        {{!-- LEFT SIDE OF RESUME --}}
        <div class='columns small-8 res-left'>
          <div class='row'>
            <div class='columns small-12'>
              <h4 class='subtitle'>
                <i class='fa fa-briefcase'></i>
                <b>WORK</b> EXPERIENCE
              </h4>
            </div>
            <div class='columns small-12'>
              <div class='work-exp-item'>
                <div class='row'>
                  <div class='columns small-6'>
                    <h6>Bidvine Limited</h6>
                  </div>
                  <div class='columns small-6'>
                    <h6 class='work-timestamp'>May 2015 - Aug 2015</h6>
                  </div>
                  <div class='columns small-12'>
                    <h6>Front-end Developer</h6>
                  </div>
                </div>
                <ul class='fa-ul'>
                  <li><i class='fa fa-li fa-angle-right'></i>Developed the entire front-end of Bidvine's native web platform using frameworks such as Ember.js, Foundation and Materialize.</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Created several reusable Ember components</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Worked in a fast paced Agile environment</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Assisted in peer code reviews</li>
                </ul>
              </div>
            </div>
            <div class='columns small-12'>
              <div class='work-exp-item'>
                <div class='row'>
                  <div class='columns small-6'>
                    <h6>Kik Interactive</h6>
                  </div>
                  <div class='columns small-6'>
                    <h6 class='work-timestamp'>Sept 2014 - Dec 2014</h6>
                  </div>
                  <div class='columns small-12'>
                    <h6>Release &amp; QA Engineer</h6>
                  </div>
                </div>
                <ul class='fa-ul'>
                  <li><i class='fa fa-li fa-angle-right'></i>Test lead for several new mobile messenger features</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Wrote extensive test suites to effectively analyse the implementation of new features</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Executed test suites on mobile devices on various platforms and clients</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Led user testing sessions</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Logged and reported bugs through Github</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Approved verification of fixed bugs</li>
                </ul>
              </div>
            </div>
            <div class='columns small-12'>
              <div class='work-exp-item'>
                <div class='row'>
                  <div class='columns small-6'>
                    <h6>Intrafinity</h6>
                  </div>
                  <div class='columns small-6'>
                    <h6 class='work-timestamp'>Jan 2014 - Apr 2014</h6>
                  </div>
                  <div class='columns small-12'>
                    <h6>Web Analyst</h6>
                  </div>
                </div>
                <ul class='fa-ul'>
                  <li><i class='fa fa-li fa-angle-right'></i>Migrated data from websites and incorporated them into newly designed customized templates</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Creation and customization of proposal documents and service quotes for public purchasing projects</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Analyzed Customer Relationship Management (CRM) data for validity and completeness</li>
                  <li><i class='fa fa-li fa-angle-right'></i>Ensured the harmonization and standardization of data for upload in the CRM system</li>
                </ul>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='columns small-12'>
              <h4 class='subtitle'>
                <i class='fa fa-folder-open'></i>
                <b>PROJECTS</b>
              </h4>
            </div>
            <div class='columns small-4'>
              <div class='project-item'>
                <h6><u>KikTag</u></h6>
                <p>Created an HTML5 web applications for Kik using the Kik.js API. Allow users on Kik to conveniently find other public groups through a live feed of postings made by users.</p>
              </div>
            </div>
            <div class='columns small-4'>
              <div class='project-item'>
                <h6><u>Personal Website</u></h6>
                <p>Created a personal website to showcase any relevant projects I may be working on.</p>
              </div>
            </div>          
            <div class='columns small-4'>
              <div class='project-item'>
                <h6><u>FlashLine</u></h6>
                <p>Creating a timeline web application which allows users to create a constant timeline of their life online. To be released on personal website.</p>
              </div>
            </div>
          </div>
        </div>


        {{!-- RIGHT SIDE OF RESUME --}}
        <div class='columns small-4 res-right'>
          <div class='row technical-skills'>
            <div class='columns small-12 small-centered'>
              <h4 class='subtitle'>
                <i class='fa fa-laptop'></i>
                <b>TECHNICAL</b> SKILLS
              </h4>
            </div>
            <div class='columns small-12 small-centered'>
              <ul class='fa-ul tech-skill-list'> <h5><b>Experienced with:</b></h5>
                <li><i class='fa fa-li fa-terminal'></i>Ember.js</li>
                <li><i class='fa fa-li fa-terminal'></i>SASS</li>
                <li><i class='fa fa-li fa-terminal'></i>Foundation</li>
                <li><i class='fa fa-li fa-terminal'></i>HTML5</li>
                <li><i class='fa fa-li fa-terminal'></i>CSS3</li>
                <li><i class='fa fa-li fa-terminal'></i>Javascript</li>
              </ul>
              <ul class='fa-ul tech-skill-list'> <h5><b>Familiar with:</b></h5>
                <li><i class='fa fa-li fa-terminal'></i>Jira</li>
                <li><i class='fa fa-li fa-terminal'></i>Git</li>
                <li><i class='fa fa-li fa-terminal'></i>Ember-Cli</li>
                <li><i class='fa fa-li fa-terminal'></i>Coffeescript</li>
                <li><i class='fa fa-li fa-terminal'></i>C#</li>
              </ul>
            </div>
          </div>
          <div class='row interpersonal-skills'>
            <div class='columns small-12 small-centered'>
              <h4 class='subtitle'>
                <i class='fa fa-users'></i>
                <b>INTERPERSONAL</b> SKILLS
              </h4>
            </div>
            <div class='columns small-12 small-centered'>
            <ul class='fa-ul inter-skill-list'>
              <li><i class='fa fa-li fa-angle-right'></i>Enthusiastic and effective team member</li>
              <li><i class='fa fa-li fa-angle-right'></i>Exceptional communication and interactive skills</li>
              <li><i class='fa fa-li fa-angle-right'></i>Very self-disciplined and self-motivated</li>
              <li><i class='fa fa-li fa-angle-right'></i>Quick learner and dedicated to work</li>
            </ul>
            </div>
          </div>
          <div class='row text-center awards'>
            <div class='columns small-12'>
              <h4 class='subtitle'>
                <i class='fa fa-trophy'></i>
                <b>AWARDS</b>
              </h4>
            </div>
            <div class='columns small-12'>
              <h6>Kik Hackathon</h6>
              <h6>1st Place</h6>
              <a href='http://pixelperfectpieceofpizza.com' target='_blank'>Pixel Perfect Piece of Pizza</a>
              <p>Created a web client mock-up of Kik Messenger in order to showcase the potential of automated replying bots in their native app. It is a web application that allows users to order a pizza by conversing with a bot.</p>
            </div>
          </div>
{{!--           <div class='row text-center education'>
            <div class='columns small-12'>
              <h4 class='subtitle'>
                <i class='fa fa-graduation-cap'></i>
                <b>EDUCATION</b>
              </h4>
            </div>
            <div class='columns small-12 small-centered'>
              <h6><b>University of Waterloo</b></h6>
              <p>Candidate for Computer Engineering, Honours Bachelor of Applied Science</p>
              <h6><b>September 2013 - Present</b></h6>
            </div>
          </div> --}}
        </div>


      </div>
    </div>
  </div>
</div>












